.container {
	padding: 25px;
	padding-bottom: 0px;
}
.font-opensans {
	font-family: 'Open Sans', sans-serif;
}
.text-center {
	padding: 20px;
}
#contact-table {

}
#row-buttons {
	padding: 20px;
}
#row-buttons div a {
	margin: 5px;
	width: 100%;
}
.navbar #footer {
	font-family: 'Roboto', sans-serif;
}
button.subs {
	margin: 5px;
}
.table-responsive {
	max-height: 800px;
}
.pad-5{
	padding: 5px;
}
.mr-tb-5{
	margin: 10px 0px;
}
.pad-rl-15 {
	padding: 0px 15px;
}
.title {
	margin: 50px 0px 30px 0px;
}
hr {
	width: 50px;
}
.mr-bt-50 {
	margin-bottom: 50px;
}

.ajax-btn {
	margin-top: 32px;
}

.tbl-min-wid {
	width: 20px;
}
.wid-300 {
	width: 300px;
}
.wid-200 {
	width: 200px;
}
.wid-150 {
	width: 150px;
}
.wid-110 {
	width: 110px;
}
.wid-full {
	width: 100%;
}
.txt-ar-cus {
	resize: none;
	border: none;
	background: inherit;
	width: 100%;
}
.txt-ar-modal {
	resize: none;
	width: 100%;
}
.min-wid-500 {
	min-width: 500px!important;
}
.min-wid-150 {
	min-width: 150px!important;
}
.min-wid-110 {
	min-width: 110px!important;
}
.h-scroll {

}
.u-p {
	color: yellow;
}
.h {
	color: green;
}
.u-h {
	color: red;
}

/* Media Queries */

@media (min-width: 992px) {
	#att-set-nm-btn {
		margin-top: 38px;
	}
}
@media (max-width:991.98px) {
	table, .customised {
		font-size: 12px;
	}
}